body {
    background-image: url("img/interface/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#boardWindow {
    height: auto;
}

#P1 {
    margin-top: 0px;
}